@use "../../styles/abstracts/variables-colors" as colors;
@use "../../styles/abstracts/mixins-screens" as screens;

.sequenceInput {
  .placeholder {
    color: colors.$slate;
  }

  .sequence {
    margin-top: 10px;
    padding: 20px;
    width: 100%;
    background-color: colors.$slate;
    border-radius: 5px;
    border: 2px colors.$slate-5 solid;
    color: colors.$slate-9;

    @include screens.tabletAndDesktop {
      font-size: 42px;
      padding: 40px;
    }

    &:focus {
      outline: 0;
      background-color: colors.$slate-2;
    }
  }
}
